kgraph

Knowledge graph with AI.

General:
* Use state machine (Redux)
* Localstorage to store state
- Viewport state
- Graph state, including node properties and node positions

Navigation panel (left panel):
* Search graphs
* Create new graphs
* Delete graphs
* List graphs
* Open graphs
* Clear all data button
* Settings button

Graph panel (centre panel):
* Cytoscape graphs
* When new graph created, first node is title of new graph
* Last focused node is selected
* Import / export buttons

Node properties panel (right panel):
* Node properties panel
* Chat tab (AI stream chat, OpenRouter)

Chat tab (tab in node properties panel):
* Tab in node properties panel
* Words in chat tab
